<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AboutUs</title>
	<link rel="stylesheet" href="css/mainabout.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="heading clearfix">
     <a href="index.html"> <img class="logo" src="img/logoo.jpg.png"></a>
         <nav>
           <ul class="menu">
            <li>
                <a  href="contact.html">Contact</a>
            </li>

            <li >
              <a href="games.html">Games</a>
                
            </li>
            <li >
                 <a  href="events.html">Events</a>
            </li>
            <li >
              <a href="aboutus.html">About Us</a>
               
            </li>
           
        </ul>
      </nav>
    </div>
			<div class="logo">

				<h1>About Us</h1>
				<p>Founded in 1994, GameZone has been working to bring<br> gamers everything there is to know about the games <br>industry, from reviews on the latest game releases to<br> breaking news and rumors. In addition to gaming, we <br>bring relevant culture and entertainment news.
				<h6>Contact us:</h6>
				<h4>tips@gamezone.com</h4>
				<div class="follow">
					<h3>Follow Us</h3>
					<a href="https://www.facebook.com/gamezone/"><img src="img/facelogo.jpg" alt=""><a/>


				</div>
</p>
				<div class="follow2">
					<<a href="https://twitter.com/GameZoneOnline"><img src="img/twitwr logo.jpg" alt=""></a>
					
				</div>
			</div>
			<div class="follow3">
				<a href="https://www.youtube.com/user/GameZoneOnline?feature=mhee"><img src="img/youtobelogo.jpg" alt=""></a>
				
			</div>
			
		</div>
	</header>
</body>
</html>