<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<link rel="stylesheet" href="css/mainicontact.css">
</head>
<body>
	<header>
		<div class="container">
      <div class="heading clearfix">
     <a href="index.html"> <img class="logo" src="img/gamezone logo2.jpg.png"></a>
         <nav>
           <ul class="menu">
            <li>
                <a  href="contact.html">Contact</a>
            </li>

            <li >
              <a href="games.html">Games</a>
                
            </li>
            <li >
                 <a  href="events.html">Events</a>
            </li>
            <li >
              <a href="aboutus.html">About Us</a>
               
            </li>
           
        </ul>
      </nav>
    </div>

    </div>
		<div class="contact">
			<h1>Get in Touch</h1>
			<p>Do do you have a question for us? Had a problem with shipping? Want to<br> sell our product in your boutique or store?  Feel free to shoot us an <br>email or give us a call. We're always up for a chat. </p>
			</div>
			<div class="logoo">
				</a>		
				

				
			</div>
			<div class="email">
				<img src="img/email logo.jpg.png" alt="">
				<h3>Hashimahun@inbox.ru</h3>

			</div>
			<div class="call">
				<img class="calllogo" src="img/call logo.jpg.png" alt="">
				<h4>+996709335356<br>+996559079797</h4>s
			</div>
			<div class="mobile">
				<img src="img/home phone.jpg.png" alt="">
				<h3>0312514799<br>0312123456</h3>
				
			</div>
	</header>
	
</body>
</html>