<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EVENTS</title>
	<link rel="stylesheet" href="css/mainEvents.css">
</head>
<body>
	<header>
		<div class="container">
			 <div class="heading clearfix">
      
         <nav>
           <ul class="menu">
            <li>
                <a  href="contact.html">Contact</a>
            </li>

            <li >
              <a href="games.html">Games</a>
                
            </li>
            <li >
                 <a  href="events.html">Events</a>
            </li>
            <li >
              <a href="aboutus.html">About Us</a>
               
            </li>
           
        </ul>
      </nav>
    </div>
			<div class="events">
				<a href="index.html"><img src="img/eventslogo.jpg" alt=""></a>
			</div>
			<div class="title">
				<h1>Events</h1>
				<img src="img/eventsssss.jpg" alt="">
				<p>The Game Zone is host to a variety of card and video game tournaments, and we serve as the moderators in these tournaments. We even offer exciting prizes to the winner!<br>
<br>
Our monthly Officially Sanctioned Pokémon Trading Card Game Tournament is the first Saturday of every month at 6:30. Our owner and one of the tourney runners are both Official Pokémon Professors, and our weekly Official Pokémon Card League is now in session!<br>
<br>
We’ve also been regularly hosting Super Smash Bros. Melee tournaments for the last few years, and we’ve got plans to launch a monthly video game tournament, so keep your eyes peeled.<br>
<br>

Training<br>
Want to learn from Official Pokémon Professors? We run Pokémon TCG clinics to instruct newcomers on everything from how to play the game to how to build their first card deck.</p>
<h2>Upcoming Events at The Game Zone</h2>
				
			</div>
			<div class="text">
				<ul>
					<li>Pokémon TCG Touney (first Saturday of the Month)</li>
					<li>Weekly Pokémon League Night</li>
					<li>Bi-weekly Magic: The Gathering Drafts (every other Friday)</li>
					<li>Bi-weekly Advanced Dungeons & Dragons 1st Edition Game Night (every other Thursday)</li>
				</ul>
			</div>
			
		</div>
	</header>
	
</body>
</html>