<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Games</title>
	<link rel="stylesheet" href="css/maingames.css">
	<script src="JS/main.js"></script>
</head>
<body>
	<header>
		<div class="container">
			<div class="games2">
		
			<div class="container">
      <div class="heading clearfix">
      
         <nav>
           <ul class="menu">
            <li>
                <a  href="contact.html">Contact</a>
            </li>

            <li >
              <a href="games.html">Games</a>
                
            </li>
            <li >
                 <a  href="events.html">Events</a>
            </li>
            <li >
              <a href="aboutus.html">About Us</a>
               
            </li>
           
        </ul>
      </nav>
      <a href="index.html"><img src="img/gamezone logo2.jpg.png" alt=""></a>

    </div>

			<h1>GAMES</h1>

			</div>
			

		</div>
			<div class="oyun">
				<img src="img/mafia2.jpg" alt="">
				<a class="buttom" 	href="http://softcatalog.info/ru/games/mafia-2">Download<a/>
				<h2>Mafia 2</h2>

				
			</div>
			<div class="oyun2">
				<img src="img/gtta5.jpg" alt="">
				<a class="buttom2" 	href="http://softcatalog.info/ru/games/grand-theft-auto-v">Download<a/>
				<h2>Grand Therft Auto GTA 5</h2>
				
			</div>
			<div class="callof">
				<img src="img/call of duty.jpg" alt="">
				<a class="knopka" 	href="https://torrent-igruha.org/348-03-call-of-duty-black-ops-3-repack-ot-xatab.html">Download<a/>

				<div class="knnopka">
					<h2>CAll OF DUTY <br>Black Ops 3</h2>
				</div>
				
			</div>
			<div class="oyun3">
				<img src="img/pes2018.jpg" alt="">
				<a class="buttom3" 	href="http://torrent3.games/newgames/2544-pes-2018.html">Download<a/>
				<h2>Pes 2018</h2>
				
			</div>
			<div class="oyun4">
				<img src="img/l.a.noire.jpg" alt="">
				<a class="buttom4" 	href="http://torrent3.games/load/prikljuchenija/3285-la-noire-the-complete-edition.html">Download<a/>

				<h2>L.A.Noire</h2>

				
			</div>
			<div class="oyun5">
				<img src="img/mass3.jpg" alt="">
				<a class="buttom5" 	href="http://torrent3.games/load/rpg/mass_effect_3/10-1-0-149">Download<a/>
				<h2>Mass 3</h2>
			</div>
			<div class="oyun6">
				<img src="img/crysys.jpg" alt="">
				<a class="buttom6" 	href="https://torrent-igruha.org/166-04-crysis-2-pc.html">Download<a/>
				<h2>Crysis 2</h2>
				
			</div>
			<div class="oyun7">
				<img src="img/battlefield_3_poster_art_a_l.jpg" alt="">
				<a class="buttom7" 	href="https://torrent-igruha.org/405-02-battlefield-3.html">Download<a/>
					<h2>Battelfield 3</h2>

			</div>
			<div class="oyun8">
				<img src="img/goood father.jpg" alt="">
				<a class="buttom8" 	href="http://gamestracker.org/torrents/pc/action/the_godfather_the_game/15-1-0-3349">Download<a/>
					<h2>The Godfather</h2>
				
			</div>

	</header>
	<button  onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	
</body>
</html>


























