<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GameZone</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="JS/main.js"></script>
 </head>
<body>
  <header>
   <div class="container">
      <div class="heading clearfix">
      <img class="logo" src="img/logoo.jpg.png">
         <nav>
           <ul class="menu">
            <li>
                <a  href="contact.html">Contact</a>
            </li>

            <li >
              <a href="games.html">Games</a>
                
            </li>
            <li >
                 <a  href="events.html">Events</a>
            </li>
            <li >
              <a href="aboutus.html">About Us</a>
               
            </li>
           
        </ul>
      </nav>
    </div>

    </div>

      </header>
    
 <section>
  <div class="container">
    <div class="title">
      <h2>
        In our services the best PC Games 
      </h2>
      <p>
        On our site you can find the most popular games for your enjoyment.
        
      </p>
      
    </div>
    <div class="services clearfix ">
      <div class="services__item">
        <img class="roclogo" src="img/rockstar logo.png" alt="" class="">
        <h3>Rockstar Games</h3>
        <p>Rockstar Games, Inc. is an American video game publisher based in New York City. The company was established in December 1998 as a subsidiary of Take-Two Interactive, and as successor to BMG Interactive, a dormant video game publisher Take-Two had previously acquired the assets of.</p>
        
      </div>
      <div class="services__item">
        <img class="ealogo" src="img/ealogo.gif" alt="" class="">
        <h3>EA Sports</h3>
        <p>
          EA Sports is a division of Electronic Arts that develops and publishes sports video games. Formerly a marketing gimmick of Electronic Arts, in which they tried to imitate real-life sports networks by calling themselves the "EA Sports Network" (EASN) with pictures or endorsements with real commentators such as John Madden, it soon grew up to become a sub-label on its own, releasing game series such as FIFA, NHL, NBA Live and Madden NFL.
        </p>
      
      </div>
      <div class="services__item">
        <img class="konamilogo" src="img/konami.jpg" alt="" class="">
        <h3>Konami</h3>
        <p>
          Konami Holdings Corporation, commonly referred to as Konami, is a Japanese entertainment and gaming conglomerate. It operates as a product distributor, video game developer and publisher company. It also operates health and physical fitness clubs across Japan.
        </p>
        
      </div>
     
    </div>

    
      
    </div>
      
 </section>
  <section>
    <div class="container">
      <div class="Write">
        <img src="img/gamezone logo2.jpg.png">
        <h4>This Website is created by Khashimakhun Abidzhanov   International Ala-Too University </h4>
      </div>
      
      
    </div>
    
  </section>
<section>
  <div class="container">
    
      
    </div>
  
</section>
  <section>
    <div class="container">
      
    </div>
    
  </section>
  <footer>
    <div class="container">
      
    </div>
    
  </footer>


<button  onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  
</body>
</html>
